@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Permanent+Marker&family=Play&family=Roboto&family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
}

.row::after {
  clear: both;
  display: block;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html {
  min-height: 100%;
  scroll-behavior: smooth;
  overflow: hidden;
}
body {
  font-family: "Lucida Sans Unicode", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100%;
  background-image: url("../images/background5.jpg");
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.flex {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox; 
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
}
main {
  max-width: 1140px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
section, article, .content {
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  float: left;
  padding-bottom: 0px;
}
p {
  margin: 0;
  padding: 0;
}
p.sectiontxt {
  text-align: left;
  color: #333333;
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
  padding: 1em;
}
h1 {
  font-size: 350%;
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 0.1875em;
  text-decoration: underline;
  text-shadow: grey 5px 5px 10px;
}
h2 {
  color: rgb(73, 73, 73);
  background-color: transparent;
  font-family: 'Play', sans-serif;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  padding-left: 1em;
}
h3 {
  font-family: 'Russo One', sans-serif;
  letter-spacing: 0.06rem;
  margin: 0;
  padding: 0;
  float: left;
}

#top, #middle, #bottom {
  margin: 0;
  padding: 0;
}
#middle, #bottom {
  padding-top: 2rem;
}

a.linkki:link {
  color: #af0404;
  text-decoration: none;
}
a.linkki:visited {
  color: #af0404;
  text-decoration: none;
}
a.linkki:hover { 
  color: #662200;
  text-decoration: underline;
}
a.linkki:active {
  color: #662200;
  text-decoration: underline;
}

.tausta {
  padding: 1em;
  background-color: #fafafa;
  border: 2px solid #af0404;
  border-radius: 25px;
  box-shadow: grey 5px 5px 5px;
}

/* Yläpalkki */
header {
  display: block;
  text-align: left;
  color: #af0404;
  background-color: transparent;
  margin: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  float: left;
}
nav {
  text-align: center;
  margin: 0;
  margin-top: 2em;
  margin-left: 0.8em;
  padding: 0;
  background-color: transparent;
  color: #F7F5EE;
  font-size: 1.2em;
  overflow: visible;
  float: left;
}
ul#navlist {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
li.navig {
  display: block;
  letter-spacing: 0.1em;
  transition-duration: 0.5s;
}
li.navig:hover {
  display: block;
  letter-spacing: 0.2em;
  transition-duration: 0.5s;
}
li a {
  display: block;
  color: white;
  font-family: 'Play', sans-serif;
  background-color: #af0404;
  text-decoration: none;
  border: 0.1875em solid #1a1a2e;
  -ms-transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  margin: 0;
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  float: left;
  box-shadow: grey 5px 5px 5px;
}
p.bar {
  -ms-transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
  transform: skewX(25deg);
}
a.active {
  background-color: #d83030;
  height: 2em;
}
a.nonactive {
  height: 2em;
}
a.nonactive:hover {
  background-color: #414141c2;
  height: 2em;
}

.left {
  margin: 0;
  margin-top: 1em;
  margin-left: 2em;
  float: left;
  overflow: hidden;
}
.right {
  margin: 0;
  margin-top: 10em;
  float: right;
  overflow: hidden;
}

.alempi{
  margin: 0;
  margin-top: 100%;
  margin-bottom: 100%;
  padding: 0;
  min-width: 100%;
}

.omakuva {
  margin: 0;
  margin-top: 2em;
  margin-right: 2em;
  float: right;
  overflow: hidden;
}

#reenikuva{
  display: block;
  float: left;
  margin: 1em;
  margin-bottom: 0.1em;
  border: 0.2em #af0404 ridge;
  transition-duration: 0.5s;
}
#reenikuva:hover{
  display: block;
  float: left;
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  border: 0.2em #af0404 ridge;
  box-shadow: grey 5px 5px 5px;
  transition-duration: 0.5s;
}

/* Kuvagalleria */
.galleria {
  margin: 0;
  margin-top: 10%;
}
.galleria img  {
  margin: 2em;
  max-width: 200px;
  max-height: 100px;
  border: 0.5em #af0404 ridge;
  box-shadow: grey 4px 4px 4px;
  transition-duration: 0.5s;
}
.galleria img:hover {
  margin: 2em;
  max-width: 200px;
  max-height: 100px;
  border: 0.5em #af0404 ridge;
  box-shadow: grey 7px 7px 4px;
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.galleria a, .galleria a:hover {
  background-color: transparent;
  text-decoration: none;
  color: unset;
}

/* Työkokemustaulukko */
table#kokemus {
  border: 2px solid black;
  border-radius: 25px;
  border-spacing: 1em;
  margin: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  background-color: white;
  color: #333333;
  box-shadow: grey 4px 4px 4px;
}
th {
  text-align: center;
  border: 2px solid black;
}
td {
  font-family: Roboto, sans-serif;
  text-align: left;
  margin: 1em;
  padding: 0;
  padding-left: 1.5em;
  padding-right: 1em;
  border: 1px solid black;
  border-left: 2px solid black;
}
td.kuvaus {
  font-family: Roboto, sans-serif;
  text-align: left;
  border: 1px solid black;
  border-left: 2px solid black;
  margin: 0.5em;
  padding-left: 2em;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 2em;
}
td.aika {
  font-family: Roboto, sans-serif;
  text-align: center;
}
th#otsikko {
  font-size: 20px;
}

/* Footer */
footer {
  height: 3em;
  margin: 0;
  background-color: transparent;
  font-size: 1.2em;
  overflow: visible;
  position: fixed;
  bottom: 2.5rem;
  right: 2.5rem;
}
.contact {
  display: block;
  float: right;
  color: whitesmoke;
  background-color: #af0404;
  border: 2px solid black;
  border-radius: 25px;
  padding: 0.3em;
  padding-left: 1.1em;
  padding-right: 0;
  box-shadow: grey 5px 5px 5px;
}
footer span {
  display: inline-block;
  margin-top: 0.2em;
  margin-right: 0.8em;
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  white-space: nowrap; /* Pitää tekstin samalla rivillä. */
  overflow: hidden;
}
.contact:hover span {
  max-width: 24rem;
}
a.aplinkki {
  color: white;
  background-color: transparent;
}
a.aplinkki:hover {
  background-color: transparent;
}