.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

body 
{
  max-width: 1440px;
  background-image: url("../images/background5bw.jpg");
}
.page { max-width: 1140px; }

.desktopDisable { display: none; } /* Piilottaa elementit, joiden ei tule näkyä Desktop-näkymässä. */

/* || Containerit */
.first 
{
  margin: 0 0 0 2em;
  padding-bottom: 1em;
  float: left;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 1.5625em;
}
.second 
{
  margin: 8em 2em 0 0;
  float: right;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 1.5625em;
}
.bigBox 
{
  margin: 3em 0 0 0;
  padding: 1em;
  overflow: visible;
  background-color: var(--background);
  border: 0.125em solid var(--black);
  border-radius: 1.5625em;
  box-shadow: var(--lightgrey) 0.3125em 0.3125em 0.3125em;
}
.smallBox 
{
  text-align: center;
  margin: 0 auto 2rem auto;
  padding: 0.5em;
  overflow: visible;
  background-color: var(--background);
  border: 0.125em solid var(--black);
  border-radius: 1.5625em;
  box-shadow: var(--lightgrey) 0.3125em 0.3125em 0.3125em;
  transition-duration: 1s;
}
.smallBox:hover 
{
  box-shadow: var(--lightgrey) 0.4375em 0.4375em 0.4375em;
  transform: scale(1.05);
  transition-duration: 1s;
}
.itBox 
{
  padding: 1em;
  overflow: visible;
  background-color: var(--background);
  border: 0.1em solid var(--black);
}
#workLink 
{
    float: left;
    margin: 2.5em 0 0 2em;
}
.ylin { min-height: 45em; }
.alempi { margin: 5em 0 0 0; }
.alin { margin: 10em 0 0 0; padding-bottom: 25em; }

/* || Yläpalkki */
header 
{
  display: block;
  text-align: left;
  color: var(--black);
  background-color: transparent;
  margin: 2em 4em 0 0;
  float: right;
}
nav 
{
  text-align: center;
  margin: 2em 0 0 0.8em;
  background-color: transparent;
  background-image: none;
  color: var(--white);
  font-size: 1.2em;
  overflow: visible;
  float: left;
}
ul#navlist 
{
  text-align: center;
  list-style-type: none;
  height: 100%;
}
li.navig 
{
  display: block;
  letter-spacing: 0.1em;
  transition-duration: 0.5s;
}
li.navig:hover 
{
  display: block;
  letter-spacing: 0.2em;
  transition-duration: 0.5s;
}
li a 
{
  display: block;
  color: var(--white);
  font-family: Play, sans-serif;
  background: rgb(175, 4, 4); /* IE fallback */
  background-color: var(--darkergrey);
  text-decoration: none;
  border: 0.2em solid var(--black);
  transform: skewX(-25deg);
  padding: 0.3em 0.5em 0.1em;
  float: left;
  box-shadow: var(--lightgrey) 0.3125em 0.3125em 0.3125em;
}
li a:hover{ color: var(--darkergrey); }
p.bar { transform: skewX(25deg); }
a.active { background-color: var(--darkestgrey); height: 2em; }
a.active:hover { color: var(--white); }
a.nonactive { height: 2em; }
a.nonactive:hover { background-color: var(--white); }

/* || Työkokemustaulukko */
table#kokemus 
{
  border: 0.2em solid var(--black);
  border-radius: 1.5625em;
  margin: 1em auto;
  width: 90%;
  background-color: var(--background);
  color: var(--darkgrey);
  box-shadow: var(--lightgrey) 0.25em 0.25em 0.25em;
}
th#otsikko 
{
    font-size: 1.25em;
    border-radius: 1em 1em 0 0;
}
th 
{
  font-family: Play, sans-serif;
  text-align: center;
  border: 0.125em solid var(--black);
  padding: 0.5em;
}
td 
{
  font-family: Roboto, sans-serif;
  text-align: left;
  margin: 1em;
  padding: 0 1.5em 0 1em;
  border: 0.0625em solid var(--black);
  border-left: 0.125em solid var(--black);
}
td.south_west 
{
    font-family: Roboto, sans-serif;
    text-align: left;
    margin: 1em;
    padding: 0 1.5em 0 1em;
    border: 0.0625em solid var(--black);
    border-left: 0.125em solid var(--black);
    border-radius: 0 0 0 1.4em;
}
td.south_east 
{
    font-family: Roboto, sans-serif;
    text-align: left;
    border: 0.0625em solid var(--black);
    border-left: 0.125em solid var(--black);
    margin: 0.5em;
    padding: 0.1875em 2em;
    border-radius: 0 0 1.4em 0;
}
td.kuvaus 
{
  font-family: Roboto, sans-serif;
  text-align: left;
  border: 0.0625em solid var(--black);
  border-left: 0.125em solid var(--black);
  margin: 0.5em;
  padding: 0.1875em 2em;
}
td.aika 
{
  font-family: Roboto, sans-serif;
  text-align: center;
}
