.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

 body {
  max-width: 1440px;
  background-image: url("../images/background5.jpg");
}
main {max-width: 1140px;}

.bigBox {
  padding: 1em;
  overflow: visible;
  background-color: var(--background);
  border: 2px solid var(--red);
  border-radius: 25px;
  box-shadow: var(--lightgrey) 5px 5px 5px;
}
.smallBox {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0.5rem;
  overflow: visible;
  background-color: var(--background);
  border: 2px solid var(--red);
  border-radius: 25px;
  box-shadow: var(--lightgrey) 5px 5px 5px;
  transition-duration: 1s;
}
.smallBox:hover {
  box-shadow: var(--lightgrey) 7px 7px 7px;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  transition-duration: 1s;
}
.itBox {
  padding: 1em;
  overflow: visible;
  background-color: var(--background);
  border: 2px solid var(--red);
  border-radius: 25px;
  box-shadow: var(--lightgrey) 5px 5px 5px;
}
.linkContainer {
  margin: 0rem; 
  margin-top: 9.4rem; 
  margin-right: 3rem;
  float: right;
}
.itContainer {margin: 0; margin-top: 5rem;}
.floatLeft {float: left; text-align: left;}

.first {
  margin: 0;
  margin-top: 1em;
  margin-left: 2em;
  padding-bottom: 1rem;
  float: left;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 25px;
}
.second {
  margin: 0;
  margin-top: 10rem;
  margin-right: 2rem;
  float: right;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 25px;
}

/* || Yläpalkki */
header {
  display: block;
  text-align: left;
  color: var(--red);
  background-color: transparent;
  margin: 0;
  margin-top: 1rem;
  margin-right: 4rem;
  float: right;
}
nav {
  text-align: center;
  margin: 0;
  margin-top: 2em;
  margin-left: 0.8em;
  padding: 0;
  background-color: transparent;
  background-image: none;
  color: var(--white);
  font-size: 1.2em;
  overflow: visible;
  float: left;
}
.desktopDisable {display: none;}
ul#navlist {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
li.navig {
  display: block;
  letter-spacing: 0.1em;
  transition-duration: 0.5s;
}
li.navig:hover {
  display: block;
  letter-spacing: 0.2em;
  transition-duration: 0.5s;
}
li a {
  display: block;
  color: var(--white);
  font-family: Play, sans-serif;
  background: rgb(175, 4, 4); /* IE fallback */
  background-color: var(--red);
  text-decoration: none;
  border: 0.1875em solid var(--border);
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skewX(-25deg);
  margin: 0;
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  float: left;
  box-shadow: var(--lightgrey) 5px 5px 5px;
}
p.bar {
  -webkit-transform: skewX(25deg);
  -ms-transform: skewX(25deg);
  transform: skewX(25deg);
}
a.active {background-color: var(--darkred); height: 2em;}
a.nonactive {height: 2em;}
a.nonactive:hover {background-color: var(--lightgrey); height: 2em;}
/* | Yläpalkki */

.alempi {
  margin: 0;
  margin-top: 15%;
  padding: 0;
}

.alin {
  margin: 0;
  margin-top: 15%;
  margin-bottom: 35%;
  padding: 0;
}

.omakuva {
  margin: 0;
  margin-top: 2em;
  margin-right: 2em;
  float: right;
  overflow: hidden;
}

/* || Työkokemustaulukko */
table#kokemus {
  border: 2px solid var(--black);
  border-radius: 25px;
  border-spacing: 1em;
  margin: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  background-color: var(--background);
  color: var(--darkgrey);
  box-shadow: var(--lightgrey) 4px 4px 4px;
}
th {
  font-family: Play, sans-serif;
  text-align: center;
  border: 2px solid var(--black);
}
td {
  font-family: Roboto, sans-serif;
  text-align: left;
  margin: 1em;
  padding: 0;
  padding-left: 1.5em;
  padding-right: 1em;
  border: 1px solid var(--black);
  border-left: 2px solid var(--black);
}
td.kuvaus {
  font-family: Roboto, sans-serif;
  text-align: left;
  border: 1px solid var(--black);
  border-left: 2px solid var(--black);
  margin: 0.5em;
  padding-left: 2em;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 2em;
}
td.aika {
  font-family: Roboto, sans-serif;
  text-align: center;
}
th#otsikko {
  font-size: 20px;
}