[class*="col-"] {width: 100%;}

body {
  max-width: 785px;
  background-image: url("../images/background7.jpg");
}
.page {max-width: 700px; padding-bottom: 6rem;}

article img {float: left; margin-right: 1rem;}

.first {
  margin: 0;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 25px;
}
.second {
  margin: 0;
  margin-top: 2rem;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 25px;
}

.bigBox {
  padding: 1em;
  background-color: var(--background);
  border: 2px solid var(--red);
  border-radius: 25px;
  box-shadow: var(--lightgrey) 5px 5px 5px;
} 
.smallBox {
  text-align: center;
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: var(--background);
  border: 2px solid var(--red);
  border-radius: 25px;
  box-shadow: var(--lightgrey) 5px 5px 5px;
}
.mobileBox {
  margin: 0;
  margin-left: 5%;
  margin-bottom: 5%;
  max-width: 90%;
}
.mobileClean {margin: 0; margin-bottom: 2rem; padding: 0; padding-bottom: 1rem;}

.alempi {margin: 0; padding: 0;}

/* || Yläpalkki */
.mobileDisable {display: none;}
.mobileNav {
  background-color: var(--red);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}
.mobileNav #links {display: none;}
.mobileNav a {
  color: var(--white);
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
}
.mobileNav a.icon {
  background: var(--darkred);
  border-radius: 0 0 0 25px;
  display: block;
  width: 4rem;
  position: fixed;
  right: 0;
  top: 0;
}
.activeLink {background-color: var(--darkred);}
header {
  display: block;
  text-align: center;
  color: var(--red);
  background-color: transparent;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 4rem;
}
nav {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: var(--white);
  font-size: 1.2em;
  overflow: visible;
}

/* || Kuvagalleria */
.galleria {padding-bottom: 20rem;}
.galleria img  {margin: 1rem; float: none;}

/* || Footer */
footer {font-size: 1em; bottom: 1rem; right: 1rem;}