[class*="col-"] {width: 100%;}

body {
  max-width: 780.3125em;
  background-image: url("../images/background7.jpg");
}
.page {max-width: 700px; padding-bottom: 6em;}

article img {float: left; margin-right: 1em;}
.mobileDisable {display: none;}

/* || Containerit */
.first {
  overflow: hidden;
  background-color: var(--background);
  border-radius: 1.5625em;
}
.second {
  margin: 2em 0 0 0;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 1.5625em;
}
.bigBox {
  padding: 1em;
  background-color: var(--background);
  border: 0.125em solid var(--red);
  border-radius: 1.5625em;
  box-shadow: var(--lightgrey) 0.3125em 0.3125em 0.3125em;
} 
.smallBox {
  text-align: center;
  margin: 0.2em;
  padding: 0.5em;
  background-color: var(--background);
  border: 0.125em solid var(--red);
  border-radius: 1.5625em;
  box-shadow: var(--lightgrey) 0.3125em 0.3125em 0.3125em;
}
.mobileBox {
  margin: 2em auto;
  max-width: 90%;
}
.mobileClean {margin: 0 0 2em 0; padding-bottom: 1em;}

/* || Yläpalkki */
.mobileNav {
  background-color: var(--red);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}
.mobileNav #links {display: none;}
.mobileNav a {
  color: var(--white);
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
}
.mobileNav a.icon {
  background: var(--darkred);
  border-radius: 0 0 0 1.5625em;
  display: block;
  width: 4rem;
  position: fixed;
  right: 0;
  top: 0;
}
.activeLink {background-color: var(--darkred);}
header {
  display: block;
  text-align: center;
  color: var(--red);
  background-color: transparent;
  margin: 2em auto 4em auto;
}
nav {
  text-align: center;
  background-color: transparent;
  color: var(--white);
  font-size: 1.2em;
  overflow: visible;
}

/* || Kuvagalleria */
.galleria {padding-bottom: 10em;}
.galleria img  {margin: 1em; float: none;}

/* || Footer */
footer {font-size: 1em; bottom: 1em; right: 1em;}