[class*="col-"] { width: 100%; }

body 
{
  max-width: 700px;
  background-image: url("../images/background7bw.jpg");
}
.page { padding-bottom: 6em; }

.mobileDisable { display: none; } /* Piilottaa elementit, joiden ei tule näkyä Mobile-näkymässä. */

/* || Containerit */
.first 
{
  overflow: hidden;
  background-color: var(--background);
  border-radius: 1.5625em;
}
.second 
{
  margin: 2em 0 0 0;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 1.5625em;
}
.bigBox 
{
  padding: 1em;
  background-color: var(--background);
  border: 0.125em solid var(--darkergrey);
  border-radius: 1.5625em;
  box-shadow: var(--lightgrey) 0.3125em 0.3125em 0.3125em;
} 
.smallBox 
{
  text-align: center;
  margin: 0.2em;
  padding: 0.5em;
  background-color: var(--background);
  border: 0.125em solid var(--darkergrey);
  border-radius: 1.5625em;
  box-shadow: var(--lightgrey) 0.3125em 0.3125em 0.3125em;
}
.mobileBox 
{
  margin: 2em auto;
  max-width: 90%;
}
.mobileClean { margin: 0 0 2em 0; padding: 1em 0; }

/* || Yläpalkki */
.mobileNav 
{
  background-color: var(--darkergrey);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  display: block;
}
.mobileNav #links { display: none; }
.mobileNav a 
{
  color: var(--white);
  padding: 0.8rem;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
}
.mobileNav a.icon 
{
  background: var(--darkergrey);
  display: block;
  width: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  border-right: 0.125em solid var(--black);
  border-bottom: 0.125em solid var(--black);
}
.activeLink { background-color: var(--darkestgrey); }
header 
{
  display: block;
  text-align: center;
  color: var(--darkergrey);
  background-color: transparent;
  margin: 2em auto 4em auto;
}

/* || Kuvagalleria */
.galleria { padding-bottom: 10em; }
.galleria img  { margin: 1em; float: none; }

/* || Footer */
footer { font-size: 1em; bottom: 1em; right: 1em; }