body {
  text-align: center; /* määrittelee tekstin sijoituksen */
  color: rgb(39, 39, 39); /* määrittelee tekstin värin */
  background-color: whitesmoke; /* määrittelee taustavärin */
  font-family: Arial, Helvetica, sans-serif; /* määrittelee käytettävät fontit järjestyksessä ensimmäisestä viimeiseen */
  margin-left: auto; /* määrittelee vasemman marginaalin */
  margin-right: auto; /* määrittelee oikean marginaalin */
  margin-top: 0; /* määrittelee ylä-marginaalin */
  margin-bottom: 0; /* määrittelee ala-marginaalin */
  padding-bottom: 200px;
}
.banner {
  text-align: center;
  height: 40px; /* määrittelee elementin korkeuden */
  background-color: teal;
  margin-top: 0;
  margin-bottom: 0;
  padding: 20px;
}
.nav {
  text-align: center;
  height: 30px;
  background-color: rgb(164, 207, 124);
  font-size: 20px;
  padding-top: 5px;
  margin-top: 0;
}
em {
  font-style: normal;
}
h1 {
  text-align: center;
  color: whitesmoke;
}
h2.footer {
  text-align: center;
  margin-top: 0;
  padding-bottom: 2px;
  background-color: rgb(164, 207, 124);
  color: rgb(39, 39, 39);
}
h3.harrastukset {
  text-align: center;
  color: rgb(39, 39, 39);
  border-bottom: 1px dashed rgb(39, 39, 39);
}
a:link { /* määrittää linkin muotoilun */
  color: #000099;
  text-decoration: none;
}
a:visited { /* määrittää linkin muotoilun sen jälkeen, kun käyttäjä on vieraillut linkin takana */
  color: #00004d;
  text-decoration: none;
}
a:hover { /* määrittää linkin muotoilun, kun käyttäjä pitää valitsinta linkin yllä */
  color: #662200;
  text-decoration: underline;
}
a:active { /* määrittää linkin muotoilun, kun käyttäjä on valinnut linkin aktiiviseksi */
  color: #331100;
  text-decoration: underline;
}
a:link#email {
  color: aqua;
  text-decoration: none;
}
a:visited#email {
  color: aquamarine;
  text-decoration: none;
}
a:hover#email {
  color: blue;
  text-decoration: underline;
}
a:active#email {
  color: blue;
  text-decoration: underline;
}
a:link.itlinkki {
  color: #000099;
  text-decoration: none;
}
a:visited.itlinkki {
  color: #00004d;
  text-decoration: none;
}
a:hover.itlinkki {
  color: #662200;
  text-decoration: none;
}
a:active.itlinkki {
  color: #331100;
  text-decoration: none;
}
#laatikot {
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: 25%;
  margin-right: 25%;
}
#patevyydet {
  float: left; /* antaa elementin siirtyä toisen elementin vasemmalle puolelle */
  overflow: auto; /* määrittelee, mitä tapahtuu jos elementin sisältö ylittää sen rajat */
  text-align: left;
  padding-left: 2%;
  padding-right: 5%;
  padding-bottom: 1%;
  min-width: 336px; /* elementin minimileveys */
  max-height: 185.5px; /* elementin maksimikorkeus */
  min-height: 185.5px; /* elementin minimikorkeus */
  border: 2px solid black;
  border-collapse: collapse;
}
#koulutus {
  overflow: auto;
  text-align: left;
  padding-left: 2%;
  padding-right: 10%;
  padding-bottom: 1%;
  min-width: 375.3px;
  max-width: 650px; /* elementin maksimileveys */
  max-height: 185.5px;
  min-height: 185.5px;
  border: 2px solid black;
  border-collapse: collapse;
}
#kokemus {
  border: 2px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 60%; /* määrittelee elementin korkeuden */
}
.naytteet {
  font-size: 40px; /* määrittelee fontin koon */
  border: 3px grey ridge;
  background-color: rgb(164, 207, 124);
  color: rgb(39, 39, 39);
  border-radius: 30px; /* pyöristää reunoja */
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 40px;
  padding: 5px;
}
.naytteet:hover {
  font-size: 40px;
  border: 3px red ridge;
  border-radius: 30px;
  background-color: royalblue;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 40px;
}
th {
  text-align: center;
  border: 2px solid black;
  border-collapse: collapse;
}
td {
  text-align: left;
  border: 1px solid black;
  border-left: 2px solid black;
  border-collapse: collapse;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
td.aika {
  text-align: center;
}
#otsikko {
  text-align: center;
  font-size: 20px;
  border: 2px solid black;
}
#reenikuva {
  float: left; 
  height: 150px;
  width: 110px; 
  border: 1px solid black; 
  margin-right: 10px;
}
img.mkb {
  border: 2px solid black;
  margin-top: 10px;
  height: 200px;
  min-width: 200px;
  max-width: 400px;
}
.kappale {
  padding-bottom: 5px;
  margin-right: 20%;
  margin-left: 20%;
}
#kmpl {
  padding-bottom: 30px;
  text-align: justify;
  margin-right: 20%;
  margin-left: 20%;
}
#omakuva {
  height: 200px;
  width: 160px;
  margin-top: 1%;
  border: 2px solid black;
}
ul#harrastukset {
  text-align: left;
  padding-left: 48%;
}
#pohja {
  width: 100%;
  position: fixed; /* määrittää elementin sijainnin */
  background-color: teal;
  color: whitesmoke;
  left: 0;
  bottom: 0;
}
#addtxt {
  font-style: normal;
  text-align: center;
  margin: 12px;
}