@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play&family=Roboto&display=swap');

html {
  min-height: 100%;
  background-image: url("../images/background5.jpg");
  background-color: transparent;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans Unicode", sans-serif;
  margin: 0 auto;
  max-width: 1440px;
  font-size: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}
p {
  margin: 0;
  padding: 0;
  text-align: left;
  color: whitesmoke;
  background-color: transparent;
}
h1 {
  font-size: 500%;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.1875em;
  margin: 0em;
  padding: 0;
  text-decoration: underline;
}
h2 {
  color: rgb(73, 73, 73);
  background-color: transparent;
  font-family: 'Play', sans-serif;
  text-align: left;
  margin-bottom: 2rem;
}

header {
  display: block;
  text-align: left;
  width: 50%;
  color: #af0404;
  background-color: transparent;
  margin: 0;
  flex-shrink: 0;
  float: left;
}
nav {
  text-align: center;
  height: 2.2em;
  width: 31em;
  margin: 0;
  margin-top: 2em;
  padding: 0;
  background-color: transparent;
  color: #F7F5EE;
  font-size: 1.2em;
  overflow: visible;
  flex-shrink: 0;
  float: left;
}

ul#navlist {
  text-align: center;
  list-style-type: none;
  margin: 0;
  margin-left: 1em;
  padding: 0;
  height: 100%;
}
li.navig {
  display: block;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1em;
  transition-duration: 0.5s;
}
li.navig:hover {
  display: block;
  margin: 0;
  padding: 0;
  letter-spacing: 0.2em;
  transition-duration: 0.5s;
}
li a {
  display: block;
  color: white;
  font-family: 'Play', sans-serif;
  background-color: #af0404;
  text-decoration: none;
  border: 0.1875em solid #1a1a2e;
  -ms-transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  margin: 0;
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  float: left;
}
p.bar {
  -ms-transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
  transform: skewX(25deg);
}
a.active {
  background-color: #d83030;
  height: 1.5em;
}
a.nonactive {
  height: 1.5em;
}
a.nonactive:hover {
  background-color: #414141c2;
  height: 1.5em;
}

a.linkki:hover {
  background-color: transparent;
}
a.aplinkki {
  color: white;
  background-color: transparent;
}
a.aplinkki:hover {
  background-color: transparent;
}
section, article, .content {
  background-color: transparent;
  text-align: center;
  margin: 0 auto;
  flex-grow: 1;
  flex-shrink: 0;
  float: left;
  padding-bottom: 0px;
}
.left {
  margin: 5%;
  max-width: 40%;
  flex-shrink: 0;
  float: left;
  color: whitesmoke;
}
.kuva {
  text-align: center;
  flex-shrink: 0;
  overflow: hidden;
  max-width: 960px;
  max-height: 780px;
  position: absolute;
  bottom: 0;
  right: 400px;
  z-index: -1;
}
p.content {
  text-align: left;
  color: rgb(73, 73, 73);
  font-family: 'Roboto', sans-serif;
  font-size: 110%;
}

img.galleria {
  margin: 2em;
  max-width: 200px;
  max-height: 100px;
  border: 0.2em #af0404 ridge;
  transition-duration: 0.2s;
}
img.galleria:hover {
  margin: 2em;
  max-width: 200px;
  max-height: 100px;
  border: 0.2em #af0404 ridge;
  transform: scale(1.5);
  transition-duration: 0.2s;
}

footer {
  height: 3em;
  margin: 0;
  background-color: transparent;
  color: black;
  font-size: 1.2em;
  overflow: visible;
  flex-shrink: 0;
  position: fixed;
  bottom: 40px;
  right: 290px;
}
.contact {
  display: block;
  float: right;
  color: whitesmoke;
  background-color: #af0404;
  border: 2px solid black;
  border-radius: 25px;
  padding: 0.3em;
  padding-left: 1.1em;
  padding-right: 0;
  box-shadow: 5px 5px 10px 5px darkgrey;
}
footer span {
  display: inline-block;
  margin-top: 0.2em;
  margin-right: 0.8em;
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  white-space: nowrap; /* Pitää tekstin samalla rivillä. */
  overflow: hidden;
}
.contact:hover span {
  max-width: 24rem;
}

a.kuva {
  background-color: transparent;
  text-decoration: none;
  color: unset;
  height: 200px;
  width: 100px;
}
a.kuva:hover {
  background-color: transparent;
  text-decoration: none;
  color: unset;
  height: 200px;
  width: 100px;
}
