.col-t1 {width: 8.33%;}
.col-t2 {width: 16.66%;}
.col-t3 {width: 25%;}
.col-t4 {width: 33.33%;}
.col-t5 {width: 41.66%;}
.col-t6 {width: 50%;}
.col-t7 {width: 58.33%;}
.col-t8 {width: 66.66%;}
.col-t9 {width: 75%;}
.col-t10 {width: 83.33%;}
.col-t11 {width: 91.66%;}
.col-t12 {width: 100%;}

body {
  max-width: 1120px;
  background-image: url("../images/background6.jpg");
}

.tabDisable {display: none;}
.floatLeft {float: left; margin-right: 1rem;}
.omakuva {
  margin: 2em 2em 0 0;
  float: right;
  overflow: visible;
}

/* || Containerit */
.bigBox {
  padding: 1em;
  background-color: var(--background);
  border: 0.125em solid var(--red);
  border-radius: 1.5625em;
  box-shadow: var(--lightgrey) 0.3125em 0.3125em 0.3125em;
}
.smallBox {
  text-align: center;
  margin: 0.2em;
  padding: 0.5em;
  background-color: var(--background);
  border: 0.125em solid var(--red);
  border-radius: 1.5625em;
  box-shadow: var(--lightgrey) 0.3125em 0.3125em 0.3125em;
}
.padBox {
  margin: 3em;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 1.5625em;
}
.padClean {
  margin: 3em auto;
  padding-bottom: 1em;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 1.5625em;
}
.padSelf {margin: 5em 0 0 1em; float: left;}
.alin {margin: 0 0 20em 0;}

/* || Yläpalkki */
header {
  display: block;
  text-align: left;
  color: var(--red);
  margin: 1rem;
  float: left;
}
nav {
  text-align: center;
  margin: 2em 0 0 0.8em;
  background-color: transparent;
  color: var(--white);
  font-size: 1.2em;
}
ul#navlist {
  text-align: center;
  list-style-type: none;
  height: 100%;
}
li.navig {
  display: block;
  letter-spacing: 0.1em;
  transition-duration: 0.5s;
}
li.navig:hover {
  display: block;
  letter-spacing: 0.2em;
  transition-duration: 0.5s;
}
li a {
  display: block;
  color: var(--white);
  font-family: 'Play', sans-serif;
  background-color: var(--red);
  text-decoration: none;
  border: 0.1875em solid #1a1a2e;
  transform: skewX(-25deg);
  padding: 0.3em 0.5em 0.1em;
  float: left;
  box-shadow: var(--lightgrey) 0.3125em 0.3125em 0.3125em;
}
li a:hover{ color: var(--black); }
p.bar {transform: skewX(25deg);}
a.active {background-color: var(--darkred); height: 2em;}
a.active:hover {color: var(--white);}
a.nonactive {height: 2em;}
a.nonactive:hover {background-color: var(--white);}

/* || Työkokemustaulukko */
table#kokemus {
  border: 0.125em solid var(--black);
  border-radius: 1.5625em;
  border-spacing: 1em;
  margin: 1em auto;
  max-width: 90%;
  background-color: var(--white);
  color: var(--darkgrey);
  box-shadow: var(--lightgrey) 0.25em 0.25em 0.25em;
}
th {
  font-family: Play, sans-serif;
  text-align: center;
  border: 0.125em solid var(--black);
}
td {
  font-family: Roboto, sans-serif;
  text-align: left;
  margin: 1em;
  padding: 0 1em 0 1.5em;
  border: 0.0625em solid var(--black);
  border-left: 0.125em solid var(--black);
}
td.kuvaus {
  font-family: Roboto, sans-serif;
  text-align: left;
  border: 0.0625em solid var(--black);
  border-left: 0.125em solid var(--black);
  margin: 0.5em;
  padding: 0.1875em 2em;
}
td.aika {
  font-family: Roboto, sans-serif;
  text-align: center;
}
th#otsikko {
  font-size: 1.25em;
}