.col-t1 {width: 8.33%;}
.col-t2 {width: 16.66%;}
.col-t3 {width: 25%;}
.col-t4 {width: 33.33%;}
.col-t5 {width: 41.66%;}
.col-t6 {width: 50%;}
.col-t7 {width: 58.33%;}
.col-t8 {width: 66.66%;}
.col-t9 {width: 75%;}
.col-t10 {width: 83.33%;}
.col-t11 {width: 91.66%;}
.col-t12 {width: 100%;}

body {
  max-width: 1120px;
  background-image: url("../images/background6.jpg");
}

.bigBox {
  padding: 1em;
  background-color: var(--background);
  border: 2px solid var(--red);
  border-radius: 25px;
  box-shadow: var(--lightgrey) 5px 5px 5px;
}
.smallBox {
  text-align: center;
  margin: 0.2rem;
  padding: 0.5rem;
  background-color: var(--background);
  border: 2px solid var(--red);
  border-radius: 25px;
  box-shadow: var(--lightgrey) 5px 5px 5px;
}

.tabDisable {display: none;}

/* || Yläpalkki */
header {
  display: block;
  text-align: left;
  color: var(--red);
  margin: 1rem;
  float: left;
}
nav {
  text-align: center;
  margin: 0;
  margin-top: 2em;
  margin-left: 0.8em;
  padding: 0;
  background-color: transparent;
  color: var(--white);
  font-size: 1.2em;
}
ul#navlist {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}
li.navig {
  display: block;
  letter-spacing: 0.1em;
}
li a {
  display: block;
  color: var(--white);
  font-family: 'Play', sans-serif;
  background-color: var(--red);
  text-decoration: none;
  border: 0.1875em solid #1a1a2e;
  -ms-transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  margin: 0;
  padding-top: 0.3em;
  padding-bottom: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  float: left;
  box-shadow: var(--lightgrey) 5px 5px 5px;
}
p.bar {
  -ms-transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
  transform: skewX(25deg);
}
a.active {background-color: var(--darkred); height: 2em;}
a.nonactive {height: 2em;}
/* | Yläpalkki */

.floatLeft {float: left; margin-right: 1rem;}

.padBox {
  margin: 3rem;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 25px;
}
.padClean {
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-bottom: 1rem;
  overflow: hidden;
  background-color: var(--background);
  border-radius: 25px;
}
.padSelf {
  margin: 0;
  margin-top: 5rem;
  margin-left: 1rem;
  float: left;
}

.alempi{
  margin: 0;
  padding: 0;
}
.alin {
  margin: 0;
  margin-top: 10%;
  margin-bottom: 35%;
  padding: 0;
}

.omakuva {
  margin: 0;
  margin-top: 2em;
  margin-right: 2em;
  float: right;
  overflow: hidden;
}

/* || Työkokemustaulukko */
table#kokemus {
  border: 2px solid var(--black);
  border-radius: 25px;
  border-spacing: 1em;
  margin: 1rem;
  margin-left: 5%;
  margin-right: 5%;
  max-width: 90%;
  background-color: var(--white);
  color: var(--darkgrey);
  box-shadow: var(--lightgrey) 4px 4px 4px;
}
th {
  font-family: Play, sans-serif;
  text-align: center;
  border: 2px solid var(--black);
}
td {
  font-family: Roboto, sans-serif;
  text-align: left;
  margin: 1em;
  padding: 0;
  padding-left: 1.5em;
  padding-right: 1em;
  border: 1px solid var(--black);
  border-left: 2px solid var(--black);
}
td.kuvaus {
  font-family: Roboto, sans-serif;
  text-align: left;
  border: 1px solid var(--black);
  border-left: 2px solid var(--black);
  margin: 0.5em;
  padding-left: 2em;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 2em;
}
td.aika {
  font-family: Roboto, sans-serif;
  text-align: center;
}
th#otsikko {
  font-size: 20px;
}